* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("/assets/img/6867640.jpg");
}

.panel {
    width: 100%;
    height: 100%;
}

.left {
    width: 40%;
    height: 100%;
}

.main {
    background: #ffe8ba;
    padding: 5vh;
    border: 3px solid #000;
    border-radius: 2em;
}

.changeName {
    height: 15vh;
}

#game {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url("/assets/img/6867640.jpg");
}

.info {
    position: fixed;
    width: 100%;
    height: 8vh;
    z-index: 100;
    font-size: 1.3em;
    background: rgba(255, 255, 255, .9);
}

.elements {
    width: 100%;
    height: 100%;
}

.element {
    position: absolute;
}

.player {
    background: #fff;
    border-radius: 10px;
}

.ball {
    background: #fff;
    border-radius: 50%;
}

.block {
    border: 1px solid #fff;
    border-radius: 5px;
}

.block.red {
    background: #ff5252;
}

.block.blue {
    background: #448aff;
}

.block.green {
    background: #69f0ae;
}

.block.yellow {
    background: #ffd740;
}

.pause {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}