* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("/assets/img/6867640.jpg");
}

.panel {
    width: 100%;
    height: 100%;
}

.left {
    width: 100%;
    height: 100%;
    background-image:url("/assets/img/sky.jpeg"); ;
}

.main {
    background: rgba(104, 161, 255, 0.45);
    padding: 5vh;
    border: 3px dotted #ff2929;
    border-radius: 2em;
    backdrop-filter: blur(5px) blur(5px) blur(5px);
}

.changeName {
    height: 15vh;
}

#game {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url("/assets/img/6867640.jpg");
}


.info {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 15em;
    height: 100%;
    z-index: 100;
    font-size: 1.3em;
    background-image: url("/assets/img/kontrol-naa-tablica-kosmiceskogo-korabla.jpg");
    background-size: cover;
    font-style: italic;
}
.d-flex > span{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    color: #00ff31;
    backdrop-filter: blur(5px) blur(5px) blur(5px);
}

.elements {
    width: 100%;
    height: 100%;
}

.element {
    position: absolute;
}

.player {
    background: #fff;
    border-radius: 10px;
}

.ball {
    background: #fff;
    border-radius: 50%;
}

.block {
    border: 1px solid #fff;
    border-radius: 5px;
}

.block.red {
    background: #ff5252;
}

.block.blue {
    background: #448aff;
}

.block.green {
    background: #69f0ae;
}

.block.yellow {
    background: #ffd740;
}

.pause {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}